@import './global.scss';

.footer {
    min-height: 15vh;
    background: #D9D9D9;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    max-width: 120px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.footer__link {
    font-size: 1em;
    color: #000;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
}

.footer__social {
    margin-left: 1.5vw;
}

.footer__element {
    width: 45px;
    object-fit: unset;
}

.footer__copyright {
    display: flex;
}

.footer__info {
    margin-right: 1rem;
    font-weight: 300;
}

.footer__developer {
    font-weight: 300;
    color: #000;
    border-bottom: 0.5px solid #303030;
}

.footer__developer:hover {
    text-decoration: underline;
}

@media screen and (max-width: 820px) {

    body {
        overflow-x: hidden;
    }

    .footer__container {
        flex-direction: column;
        padding: 5vh 35px;
    }

    .footer__items {
        flex-direction: column;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .footer__links {
        flex-direction: column;
        width: 80vw;
    }

    .footer__link {
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 1.3em;
    }

    .footer__socials {
        margin-top: 5vh;
    }

    .footer__social {
        display: flex;
        justify-content: center;
        margin-right: 1.5vw;
    }

    .footer__copyright {
        flex-direction: column;
        align-items: center;
    }

    .footer__info {
        margin: 0;
    }

}