$default-font: 'Open Sans', sans-serif;
$accent-font: "Arial Black", "Arial Bold", Gadget, sans-serif;

$brand-color-gray: #D9D9D9;
$brand-color-blue: #1E5D86;
$brand-color-green: #3D6733;
$brand-color-red: #761F28;
$brand-color-yellow: #F5C859;


