$default-font: 'Open Sans', sans-serif;
$accent-font: "Arial Black", "Arial Bold", Gadget, sans-serif;

$brand-color-gray: #D9D9D9;
$brand-color-blue: #1E5D86;
$brand-color-green: #3D6733;
$brand-color-red: #761F28;
$brand-color-yellow: #F5C859;


html,
body {
    height: 100%;
}

.wrapper {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
}

[class*="__container"] {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

[class*="__title"] {
    font-family: $accent-font;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    color: #000000;
}

[class*="__button"] {
    border: none;
    background: $brand-color-green;
    font-family: $default-font;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    padding: 2rem 2rem;
}