@import './global.scss';

.header {
    background: #fff;
}

.header__logo {
    max-width: 120px;
}

.header__button {
    background: #F5C859;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    color: #000;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.nav-menu a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.nav-menu a:hover,
.nav-menu a:active,
.nav-menu a.active {
    border-bottom: 1px solid #000;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #000;
    transition: all 0.5s ease-in;
}

.burger.active .line1 {
    transform: rotate(45deg) translate(5px, 6px);
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
}

.header__socials {
    display: flex;
    margin-top: 2vh;
}

.header__social {
    margin-left: 1.5vw;
    width: 50%;
}

.header__element {
    width: 45px;
}

@media screen and (min-width: 821px) {
    .nav-menu {
        width: 80%;
    }

    .header__socials {
        display: none;
    }
}

@media screen and (max-width: 820px) {

    body {
        overflow-x: hidden;
    }

    .burger {
        display: block;
    }

    .header {
        top: 0;
        left: 0;
        width: 100%;
    }

    .nav-menu {
        position: absolute;
        top: 100px;
        width: 0;
        padding-left: 0;
        background: #fff;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: right 0.5s ease-in;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .nav-menu .menu {
        opacity: 0;
        margin-bottom: 5vh;
    }

    .nav-menu.active {
        right: 0;
        width: 100%;
    }

    .nav-menu a {
        font-size: 1.3rem;
    }

    .header__social {
        display: flex;
        justify-content: center;
        margin-right: 1.5vw;
    }

}

@keyframes navLinksFade {

    0% {
        opacity: 0;
        transform: translateY(50px)translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}