@import '../layouts/global.scss';

.about__container {
    max-width: 700px;
    padding-left: 0;
    padding-right: 0;
}

.about__title {
    text-align: center;
    padding: 0rem 0rem 3rem 0rem;
    margin-top: 10vh;
}

.about__photo-background {
    background-image: url(../../design/assets/images/about/decoration/photo-background.svg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.about__photo {
    margin-bottom: 6rem;
    padding: 10% 5%;
}

.about-block__container {
    max-width: 700px;
    margin-bottom: 10vh;
}

.about-block {
    border: 5px solid;
    margin-bottom: 3rem;


    &__circles {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .circle {
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            margin: 7px;
        }

        .circle_blue {
            background-color: $brand-color-blue;
        }

        .circle_green {
            background-color: $brand-color-green;
        }

        .circle_red {
            background-color: $brand-color-red;
        }
    }

    &__text {
        text-align: center;
        margin: 0;
        padding: 1.5rem;
        font-family: $default-font;
    }

    &_blue {
        border-color: $brand-color-blue;
    }

    &_green {
        border-color: $brand-color-green;
    }

    &_red {
        border-color: $brand-color-red;
    }

}

.about__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;


    &_triangles {
        background-image: url(../../design/assets/images/about/decoration/triangles.svg);
        height: 370px;
        width: 370px;
        background-size: 100%;
        padding-left: 0.5rem;
        padding-top: 1rem;
    }

    &_circles {
        background-image: url(../../design/assets/images/about/decoration/circles.svg);
        height: 370px;
        width: 302px;
        padding-right: 1.3rem;
        padding-bottom: 1.3rem;
    }

    &_squares {
        background-image: url(../../design/assets/images/about/decoration/squares.svg);
        height: 370px;
        width: 302px;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }

    &_rhombi {
        background-image: url(../../design/assets/images/about/decoration/rhombi.svg);
        height: 370px;
        width: 302px;
        padding-right: 1.1rem;
        padding-bottom: 2rem;
    }
}

.about-faq {
    text-align: center;
    margin-bottom: 8rem;

    &__title {
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    &__button_red {
        background-color: $brand-color-red;
    }
}

@media (min-width: 750px) {

    .about__container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .about-game,
    .about-rounds {
        display: flex;
        align-items: center;
        margin-bottom: 5vh;
    }

    .about-rules,
    .about-ranking {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 5vh;
    }

    .about__subtitle_game,
    .about__subtitle_rounds {
        margin-right: 2.5rem;
    }

    .about__subtitle_rules,
    .about__subtitle_ranking {
        margin-left: 2.5rem;
    }

}

@media screen and (min-width: 1024px) {
    .about__subtitle {
        font-size: 1.2rem;
    }

    .about-faq__title {
        margin-bottom: 10vh;
    }
}