@import '../layouts/global.scss';

.about__title {
    text-align: center;
    padding: 6rem 0rem 3rem 0rem;
}

.about-photo-background {
    background-image: url(../../design/assets/images/about/decoration/photo-background.svg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.about-photo {
    margin-bottom: 6rem;
    padding: 10% 5%;
}

.about-block {
    border: 5px solid;
    margin: 0rem 1rem 3rem;


    &__circles {
        display: flex;
        justify-content: center;

        .circle {
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            margin: 20px;
        }

        .circle_blue {
            background-color: $brand-color-blue;
        }

        .circle_green {
            background-color: $brand-color-green;
        }

        .circle_red {
            background-color: $brand-color-red;
        }
    }

    &__text {
        text-align: center;
        padding: 2rem;
        font-family: $default-font;
    }

    &_blue {
        border-color: $brand-color-blue;
    }

    &_green {
        border-color: $brand-color-green;
    }

    &_red {
        border-color: $brand-color-red;
    }

}

.about__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;


    &_triangles {
        background-image: url(../../design/assets/images/about/decoration/triangles.svg);
        height: 370px;
        width: 302px;
    }

    &_circles {
        background-image: url(../../design/assets/images/about/decoration/circles.svg);
        height: 370px;
        width: 302px;
    }

    &_squares {
        background-image: url(../../design/assets/images/about/decoration/squares.svg);
        height: 370px;
        width: 302px;
    }

    &_rhombi {
        background-image: url(../../design/assets/images/about/decoration/rhombi.svg);
        height: 370px;
        width: 302px;
    }
}

.about-faq {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;

    &__link {
        font-family: $default-font;
        font-weight: bold;
        color: #fff;
        background-color: $brand-color-red;
        padding: 4% 10%;
        margin-bottom: 3rem;
    }

    &__button_red {
        background-color: $brand-color-red;
    }
}