@import '../layouts/global.scss';

a {
    text-decoration: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    top:8%;
    left: 7%;
    width: 8%;
    height: 8%;
    position: fixed;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.22vh;
    background-color: #081a8a;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -1vh;
  }
  .menu__btn > span::after {
    content: "";
    top: 1vh;
  }
  .menu__box {
    position: fixed;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;    
    display: block;
    margin: 0;
    padding: 1vh 0;
    list-style: none;
    transition-duration: 0.25s;    
    background-color: #ffffff; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  }
  .menu__logo {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: -2%;
    margin-left: 70%;
  }
  .static {
    display: inline-block;
    width: 100vw;
    z-index: 2;
    height: 6vh;
    position: fixed;
  }
  .static__header {
    display: inline-block;
    position: fixed;
    height: 6vh;
  }
  .static__header_logo {
    position: fixed;
    left: 70%;
    zoom: 0.8;
    top: -1%;
  }
  .nav-menu{
    height:70vh;
  }
  .menu{
    margin-top:-10%;
    padding-bottom:5%;
    gap:1%;
    text-align: center;
  }
  .menu__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2%;
    margin-bottom: 7%;
    margin-left: 13%;
    margin-right: 7%;
    padding-top: 2%;
    padding-right: 10%;
    padding-bottom: 5%;
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none;
    color: rgb(11, 11, 11);
    transition-duration: 0.25s;
  }
  .menu__item_button {
    width: 60vw;
    height: 6.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 19%;
    margin-top: 6%;
    text-align: center; 
    font-family: "Arial Black", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;    
    font-size: 1.2em;    
    color: rgba(0, 0, 0, 1);    
    background-color:rgba(245, 200, 89, 1);  
  }
  .menu__item_button-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;    
    text-align: center;
    color: rgba(0, 0, 0, 1);
  }
  .menu__item_socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: flex-end;
    margin-top: 19%;
    zoom:0.8;
  }
  .main__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-top: 10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
  }
  .main__team-pic-wrap{
    background-image: url(../../design/assets/images/team/background_team_new.svg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main__team-pic{
    padding: 15% 10%;    
  }
  .main__team-member-block_evg-title, .main__team-member-block_mar-title, .main__team-member-block_alex-title{
    display: flex;
    justify-content: flex-start;   
    text-align:left;
    font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 1.4rem;
  }
  .main__about-our-team, .main__team-member-block_evg-about-in-details, .main__team-member-block_mar-about-in-details, .main__team-member-block_alex-about-in-details{    
    display: flex;
    align-content: center; 
    justify-content: center;  
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
  }
  .main__about-our-team{
    padding-bottom: 7%;
  }
  .main__team-member-block_evg-about-in-details, .main__team-member-block_mar-about-in-details, .main__team-member-block_alex-about-in-details{
  padding-bottom: 7%;
  }    
  .main__team-member-block_evg-about, .main__team-member-block_mar-about, .main__team-member-block_alex-about{
    display: flex;
    justify-content:flex-start;
    text-align:left;
    font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 1.1rem;
  }
    .main__we-wait-you{
    display: flex;
    border: 9px solid #3D6733;
  }
  .main__we-wait-you-text{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 2em;
    background-color: #ffffff;
  }
  .footer{
    margin-top: 15%;
  }
  .footer__menu{
    list-style-type: none;
    background-color:rgba(217, 217, 217, 1); 
  }
  .footer__logo {
    display: flex;
    width: 45%;
    justify-items: center;
    align-items: start;
    margin-top:-25%;
  }
  .footer__menu-item, .footer__menu-item_that1quiz,  .footer__menu-item_what-is {
    display: flex;
    flex-direction:row;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    margin-top: -5%;
    margin-left: -10%;
    padding-bottom: 7%;
    color: rgb(11, 11, 11);
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.25s;
  }
  .footer__menu-item{
    font-family: 'Open Sans', sans-serif;
  }
  .footer__menu-item_what-is{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: -13%;
  }
  .footer__menu-item_that1quiz{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 7%;
    margin-left: 2%;    
    font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 1.2rem;
  }
  .footer__menu-item_socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: flex-end;
    padding-bottom: 3%;
    margin-top: -5%;
    margin-left: 5%;
    margin-right: 12%;
    zoom:0.8;
  }
  .footer__menu-item_socials-facebook, .footer__menu-item_socials-instagram, .footer__menu-item_socials-telega{
    width: 10%;
  }
  .footer__menu-item_authorship{
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
  }
  .menu__item:hover, a:hover {
    cursor: pointer;
  }
