@import './layouts/header.scss';
@import './layouts/footer.scss';
@import './pages/home.scss';
@import './pages/events.scss';
@import './pages/quiz10.scss';
@import './pages/gallery.scss';
@import './pages/score.scss';
@import './pages/team.scss';
@import './pages/about.scss';
@import './pages/faq.scss';